h1{
    color: rgb(0, 106, 255);
    text-align: center;
    
}

.azert{
    margin-left: 405px;
    border-radius: 42px;
    border: dashed;
}
.wxcv{
    text-align: center;
    color:blue;
}

.aqwxs{
    background-color:darkviolet ;
}